<img src="../img/loading.gif" alt="loading" ng-hide="pagesSections" />

    <div class="sectionblock" ng-repeat="sectionItem in pagesSections" >
        <div class="section" ng-click="sectionClick(sectionItem)">{{sectionItem.section.name}}</div>
        <div class="sectionpages">
            <div ng-repeat="page in sectionItem.pages" ng-show="sectionItem.active">
                <div class="page" ng-click="pageClick()" >{{page.title}} {{valueFromDirectiveScope}}</div>
            </div>
        </div>
    </div>
