@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>Save Link Extension</title>
    <script src="js/libs/angular.js"></script>
    <script src="js/libs/jquery-1.12.4.js"></script>
    <script src="js/extApp.js"></script>
    <script src="js/dataFactory.js"></script>
    <script src="js/oneNoteFactory.js"></script>
    <script src="js/extCtrl.js"></script>
    <script src="js/treeViewDirective.js"></script>
    <script src="js/saveLinkDialogDirective.js"></script>
    <script src="js/savedLinksDirective.js"></script>



    <link rel="stylesheet" type="text/css" href="css/savelinkext.css" />
</head>
<body>
<div>
    @RenderBody()
</div>
</body>
</html>
