#pageSelectionblock {
    display: inline-block;
    float: left;
    width: 350px;
}




#operationData {
   /* display: none;*/
}

#selectedPageInfo {
     margin-top: 16px;
    display: inline-block;
}

.section {
    background-color: blueviolet;
    width: 100px;
    height: 20px;
    margin: 10px;
}

.page {
    background-color: mediumorchid ;
    width: 200px;
    height: 17px;
    margin: 5px;
}

.section {
     display: inline-block;
     line-height: normal;
     vertical-align: middle;
}

.sectionpages {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
}

#savedLinks {
     display: inline-block;
    line-height: normal;
    vertical-align: top;
}

