@model SaveLinkExtentionWelcome.Models.OperationData
@{
    Layout = "~/Views/LayoutView.cshtml"; ;
}

<div id="operationData">
    @Model.JsonData
</div>

<div ng-app="extApp" ng-controller="extCtrl">

    <div id="pageSelectionblock">
        <ng-tree pages-sections="pagesSections" select-page-func="selectPage(page)"></ng-tree>
    </div>

    <div ng-if="selectedPage" id="sectedPageInfo">
        You selected: {{selectedPage}}
    </div>


</div>





