@model SaveLinkExtentionWelcome.Models.OperationData
@{
    Layout = "~/Views/LayoutView.cshtml"; ;
}

<div id="operationData">
    @Model.JsonData
</div>

<div ng-app="extApp" ng-controller="extCtrl">
   
    <ng-include src="'templ/pagesList.html'"></ng-include>



</div>





