@model SaveLinkExtentionWelcome.Models.OAuthToken

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div id="accessToken">
        @Model.AuthenticationToken
</div>
</body>
</html>